
<div class="formularioRegistro">

    <form *ngIf="personaForm" [formGroup]="personaForm" (ngSubmit)="guardar()">
        <h2>Crear contacto</h2>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" formControlName="nombre">
    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" id="apellido" formControlName="apellido">
    </div>
    <div class="form-group">
        <label for="edad">edad</label>
        <input type="number" class="form-control" id="edad" formControlName="edad">
    </div>
    <div class="form-group">
        <label for="numero">numero</label>
        <input type="number" class="form-control" id="numero" formControlName="numero">
    </div>
    <div class="form-group">
        <label for="pais">pais</label>
        <select name="pais" id="pais" class="form-control" formControlName="pais">
            <option [ngValue]="item" *ngFor="let item of paises">{{item.nombre}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="estado">estado o region</label>
        <select name="estado" id="estado" class="form-control" formControlName="estado">
            <option [ngValue]="item" *ngFor="let item of estados">{{item.nombre}}</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="personaForm.invalid">Guardar</button>
</form>
</div>

<div class="formularioRegistro">
    <h2>Contactos Guardados</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>edad</th>
                <th>numero</th>
                <th>pais</th>
                <th>estado</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of contactos">
                <td>{{item.id}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>
                <td>{{item.edad}}</td>
                <td>{{item.numero}}</td>
                <td>{{item.pais.nombre}}</td>
                <td>{{item.estado.nombre}}</td>
                <td>
                    <button type="button" class="btn btn-success">editar</button>
                    <button type="button" class="btn btn-danger">eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<router-outlet></router-outlet>